* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

body {
    margin: 0;
    padding: 0;
}

.head {
    background-color: #1F2937;
    padding: 20px 200px 100px;
}

.head-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-link {
    color: #bebebe;
    text-decoration: none;
    font-size: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    padding-bottom: 5px;
}

.head-bottom {
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.head-bottom-container {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.head-bottom-container h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.head-bottom-container-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 10px;
}

.head-bottom-container button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}

.header-image {
    padding-top: 20px;
    width: 500px;
    height: 200px;
}

.information {
    padding: 50px 200px;
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information-container {
    display: flex;
    padding-top: 30px;
    gap: 10px;
    flex-wrap: wrap;
}

.information-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 200px;
}

.information-text {
    text-align: center;
    padding-top: 10px;
    width: 150px;
}

.information-item img {
    width: 150px;
    height: 150px;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-author {
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}